*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
#root{
  height: 100%;
  width: 100%;
}

.create-post{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.create-post h1{
  font-size: 24px;
  margin-bottom: 20px;
}
.create-post form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-post form input,
.create-post form textarea{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button{
  padding: 10px;
  background-color: #54df4f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.feed-section{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}